[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
  dc = diff --cached
  serve = daemon --reuseaddr --verbose --base-path=. --export-all ./.git
  ci-am = commit --amend --no-edit
  pr = pull --rebase
  update = "!echo '==> Stash local changes'; res=$(git stash save 'auto stash by update'); echo "$res"; echo; \
             echo '==> Fetching all remote branches and purging'; git fetch --all --prune; echo; \
             echo '==> Fetch from remote repo and rebasing'; git pull --rebase; echo; \
             echo "$res" | grep -q '^No local changes to save' || { echo '==> Apply stashed changes'; git stash pop; }"
  log = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
  ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  cleanup = "!git branch --merged | grep  -v '\\*\\|master' | xargs -n 1 git branch -d"
[color]
    branch = auto
    diff = auto
    interactive = auto
  status = auto
[push]
  default = upstream
[core]
  editor=vim
[rerere]
  enabled = true
[commit]
	gpgsign = true
[gpg]
	program = gpg2